.all{
    background-image: url(./images/background.jpg);
    background-attachment: scroll;
    background-size: 1550px 720px;
}
.head{
    background-color: var(--head-background);
    font-style: normal;
    font-family: Roboto;
}
.head-home, .head-buton, .head-comments, .head-item, .head-image, .head-search{
    display: inline-block;
}
.head-home, .head-buton, .head-comments, .head-image{
    cursor: pointer;
}
.head-search{
    margin-left: 750px;
}
.head-image{
    height: 25px;
    width: 25px;
}
.head-buton{
    background-color: inherit;
    border-style: none;
    font-size: 20px;
    margin-left: 100px;
}
.head-home,.head-comments{
    font-size: 20px;
    color: black;
    text-decoration: none;
}
.head-comments{
    margin-left: 100px;
}
.head-list{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
}
.head-home{
    margin-left: 20px;
}
.head-item{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* Welcome */
.container{
    margin: 0 auto;
    padding: 0 15px;
    outline: solid red 1px;
    width: 1500px;
}
.welcome-slog,.welcome-text{
    text-align: center;
}